<link rel="stylesheet" href="../../css/navbar.css">

<div class="nav">
    <div class="logo-container">
        <a href="#" class="logo"><img src="../../assets/logo.png" alt=""></a>
    </div>
    <ul class="menu">
        <li id="home"><a href="home.html">HOME</a></li>
        <li id="products"><a href="products.html">PRODUCTS</a></li>
        <li id="news"><a href="news.html">NEWS</a></li>
        <li id="esport"><a href="esport.html">ESPORT</a></li>
        <li id="subcriptions"><a href="subcriptions.html">SUBCRIPTIONS</a></li>
    </ul>
</div>