<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/navbar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="nav">
        <div class="logo-container">
            <img src="../../asset/naruto-logo.webp" alt="Naruto Logo">
        </div>
        <div class="hamburger">
            <img id="navbarBtn" src="../../asset/hamburger-menu-logo.png" alt="Menu">
            <div id="header" class="header">
                <a href="story.html">Story</a>
                <a href="menu-character.html">Character</a>
                <a href="home.html">Home</a>
                <a href="loading.html">Loading</a>
                <a href="manga.html">Manga</a>
            </div>
        </div>
    </div>
        <script src="../../controllers/navbar.js"></script>
</body>

</html>