<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div id="app"></div>
    <nav>
        <div id="extend-navbar"></div>
    </nav>
    <section class="landing-section background-layer">
        <img src="../asset/home/sky.webp" alt="Sky" class="background-sky">
        <div id="cloud-back">
            <img src="../asset/home/cloud.webp" alt="Cloud">
        </div>
        <div id="cloud-front">
            <img src="../asset/home/cloud.webp" alt="Cloud">
        </div>
        <img id="mountain" src="../asset/home/mountain.webp" alt="Mountain">
    </section>
    <canvas id="myCanvas"></canvas>
    <section class="dummy-section"></section>
    <section class="dummy-section"></section>
    <section class="N">
        <div class="N-header">
            <img src="../asset/title/story-light.png" alt="">
        </div>
        <div class="N-body letter">
            <div class="N-body-left">
                <div class="N-card">
                    <div class="N-card-header">
                        <p>NARUTO</p>
                    </div>
                    <div class="N-container">
                        <p>A powerful fox known as the Nine-Tails attacks the ninja village Konoha. In response, the
                            leader
                            of Konoha -the Fourth Hokage- seals the fox inside his newborn son Naruto Uzumaki at the
                            cost of
                            his life.</p>
                    </div>
                    <div class="N-button">
                        <a href="">SHOW MORE</a>
                    </div>
                </div>
                <img src="../asset/char_naruto.webp" alt="">
            </div>
            <div class="lettering">
            </div>
        </div>
    </section>
    <section class="A">
        <div class="A-body">
            <div class="A-title">
                <p>The hole in one's heart gets filled by others around you</p>
            </div>
            <div class="lettering">

            </div>
        </div>
    </section>
    <section class="R">
        <div class="R-header">

        </div>
        <div class="R-body">
            <div class="lettering"></div>
        </div>
    </section>
    <section class="U">
        <div class="R-header">

        </div>
        <div class="R-body">
            <div class="lettering"></div>
        </div>

    </section>
    <section class="T">

        <div class="R-header">

        </div>
        <div class="R-body">
            <div class="lettering"></div>
        </div>
    </section>
    <section class="O">
        <div class="R-header">

        </div>
        <div class="R-body">
            <div class="lettering"></div>
        </div>

    </section>

    <script type="module" src="../controllers/canvas/player.js"></script>
    <script src="../controllers/connector.js"></script>
    <script src="../controllers/parallax.js"></script>
    <script src="../controllers/home.js"></script>
</body>

</html>