<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <div id="app"></div>
    <nav>
        <div id="extend-navbar"></div>
    </nav>
    <div class="landing-section">
        <div id="cloud-back">
            <img src="../asset/home/cloud.webp" alt="Cloud">
        </div>
        <canvas id="myCanvas"></canvas>
        <div id="cloud-front">
            <img src="../asset/home/cloud.webp" alt="Cloud">
        </div>
        <img id="mountain" src="../asset/home/mountain.webp" alt="Mountain">
    </div>
    <div class="n">
        <img src="../asset/bg-secondary.png" alt="">
    </div>

    <script type="module" src="../controllers/canvas/player.js"></script>
    <script src="../controllers/connector.js"></script>
    <script src="../controllers/parallax.js"></script> 
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            extend('components/app.html', 'app', 'menu_character');
            extend('components/navbar.html', 'extend-navbar', 'menu_character');
        });
    </script>
</body>
</html>
