<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/menu_character/card.css">
</head>
<body>
    <div id="app"></div>
    <nav>
        <div id="extend-navbar"></div>
    </nav>

    <div class="container" id="character-container">
        <!-- <div class="card">
            <img src="../asset/home/character-card/Naruto.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">NARUTO</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/Sakura.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">NARUTO</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/sasuke.png" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">SASUKE</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/kakashi.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">KAKASHI</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/kakashi.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">KAKASHI</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/kakashi.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">KAKASHI</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/kakashi.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">KAKASHI</h2>
                <a href="#">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="../asset/home/character-card/kakashi.jpg" alt="Naruto">
            <div class="card-content">
                <h2 class="character-name">KAKASHI</h2>
                <a href="#">READ MORE</a>
            </div>
        </div> -->
    </div>

    <footer>
        <div id="extend-footer"></div>
    </footer>

    <script src="../controllers/connector.js"></script>
    <script src="../controllers/menu_character/character.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            extend('components/app.html', 'app', 'menu_character');
            extend('components/navbar.html', 'extend-navbar', 'menu_character');
            extend('components/footer.html', 'extend-footer', 'menu_character');
    });
    </script>
</body>
</html>