<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="../styles/story.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="app"></div>
    <nav>
        <div id="extend-navbar"></div>
    </nav>

    <div class="accordion-container">
        <p class="title-header">STORY</p>
        <p class="title">NARUTO</p>
        <div class="accordion" id="accordion"></div>
    </div>
    
    <script src="../controllers/accordions.js"></script>

    <footer>
        <div id="extend-footer"></div>
    </footer>

    <script src="../controllers/connector.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            extend('components/app.html', 'app', 'menu_character');
            extend('components/navbar.html', 'extend-navbar', 'menu_character');
        });
    </script>
</body>
</html>
