@font-face {
    font-family: 'wehahaFont';
    src: url('../asset/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'wehahaFont', sans-serif;
}