body {
    transition: background-image 0.5s ease-in-out;
    background-image: url("../asset/manga/naruto-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    src: url('../asset/ninja_naruto/njnaruto.ttf') format('truetype');
    font-family: 'njnaruto';
}

#title {
    font-family: 'njnaruto', sans-serif;
    color: orange;
    font-size: 50px;
    text-shadow: 4px 2px 0 #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.carousel-item img {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.carousel-item.active {
    margin: 40px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
}

.detail {
    color: white;
    font-size: 40px;
    height: 100%;
    width: 40%;
    text-shadow: 4px 2px 0 #000;
}

.detail h1, .detail p, .detail button {
    margin: 10px 0;
}

.author-p {
    text-align: left;
}

.rating-p {
    text-align: left;
}

.btn {
    padding: 20px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgray;
}
