body {
    transition: background-image 0.5s ease-in-out;
    background-image: url("../asset/manga/naruto-bg.jpg");
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.carousel-item img {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.carousel-item.active {
    margin: 40px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
}

.detail {
    height: 100%;
    width: 40%;
}

.detail h1, .detail p, .detail button {
    margin: 10px 0;
}

.author-p {
    text-align: left;
}

.rating-p {
    text-align: left;
}

.btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgray;
}
