.logo-container img {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    padding: 10px;
    transition: transform 0.3s ease;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-size: cover;
    width: 100%;
    height: 60px;
}

#themeButton {
    position: fixed;
    z-index: 999;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 100px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 3vh;
    margin-right: 10vw;
    z-index: 1000;
    top: 0px;
    right: 0px;
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    gap: 5vw;
    right: -100%;
    width: 100vw;
    padding-right: 15vw;
    height: 10vh;
    background-image: url("../../asset/home/navbar/hamburger-menu-bg.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: right 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    z-index: 50;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
}

.header.visible {
    right: 0;
}

#navbarBtn {
    position: fixed;
    margin: 0px;
    z-index: 1000;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.button-container img {
    padding-right: 20px;
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 11;
}

.hamburger {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scaled {
    transform: scale(1.2);
}
